h6 {
    word-break: break-word;
}

.section1 {
    padding: 250px 0 150px;
    position: relative;
}

.hrBlue {
    background-color: #68bef1;
    height: 2px;
    width: 80px;
    margin: 0px 0px 25px 0px;
}

.hrBlack {
    background-color: #000;
}

.contactIcons i {
    color: #68bef1;
    margin: 5px;
}

.contactForm {
    background-color: #f6f6f6;
}

.btn-blue {
    background-color: #68bef1;
    color: #fff;
    border: none;
    padding: 10px 0px 10px 0px;
}

.btn-blue:hover {
    background-color: #fff;
    color: #68bef1;
    border: 1px solid #68bef1;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.contact-page-form input {
    padding: 10px !important;
    border: none !important;
    height: 70px;
}

.contact-page-form input.btn-blue {
    letter-spacing: 2px;
}

textarea {
    border: none !important;
}

.img-wrap img {
    margin-right: 8px;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.z-index-9 {
    z-index: 9;
}

@media(max-width:767px) {
    .hrBlue {
        margin: 0px auto 25px;
    }
}