/* .btnFormRequest{
	padding: 19px 59px;
	font-weight: bold;
	font-size: 17px;
	margin-top: 30px;
	font-family: "Nunito",sans-serif;
}
.btnFormRequest i{
	margin-left: 10px;
	margin-top: 5px;
	font-size: 12px;
}
.footer-qoute .getInTouch{
	border-right: 1px solid #000;
}
.footer-qoute .getInTouch h4{
	font-size: 13px;
	font-weight: bold;
	font-family: "Nunito",sans-serif;
}
.footer-qoute .getInTouch h1{
	font-weight: bold;
	font-size: 55px;
}
.rowForGetTouch{
	margin-top: 60px;
}
.inquiriesFor{
	padding: 0px 20px;
}

.inquiriesFor p{
	font-size: 17px;
	text-align: left;
	font-weight: normal;
}
.inquiriesFor p span{
	font-weight: bold;
	
}
.rowOfInputs input{
	margin-top: 43px;
    height: 55px;
}



.rowOfInputs input::placeholder{
	font-style: italic;
}
.sayHelloForm h4{
	font-weight: bold;
	font-family: "Nunito",sans-serif;
	font-size: 15px;
	letter-spacing: 2px;

}
.sayHelloForm{
	font-size: 55px;
	font-weight: bold;
}
.sayHelloForm a.text-dark{
	word-break: break-all;
}

body > div.section8 > div > div > div:nth-child(6) > img{

	max-width: 100px;
    margin-top: 7px;

} */


#section12>div>div>div.col-md-8>div>form>div>div>label{font-size:14px}div.formForQuote input.form-control{margin-bottom:22px;padding:21px}




@media(max-width:1200px){
	
	.inquiriesFor p {
		font-size: 15px ;
		text-align: left;
		font-weight: normal;
	}
}


@media(max-width:767px){
	.footer-qoute .getInTouch{border-right: none;}
	.sayHelloForm{font-size: 35px;}

}