.section1 {background-size: cover !important;padding: 250px 0 119px;position: relative;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: #68bef1;color:#012840;border: 1px solid #68bef1;}
.nav-pills .nav-link{background-color: transparent;color:#012840;height: 60px;width: 190px;border: 1px solid #012840;font-size: 18px;font-weight: 700;margin: 5px;
    padding: 0;display: flex;justify-content: center;align-items: center;text-align: center;}
.overlay{    background: rgba(0,0,0,0.4);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;}
    .z-index-9{z-index: 9;}